{% extends 'base.html.twig' %}

{% block title %}Créer ton compte{% endblock %}

{% block body %}

{# Mise en forme du formulaire d'inscription automatiquement via bootstrap  #}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

<h1 class="registrationTitle">Créer un compte McDalle</h1>

    {{ form_errors(registrationForm) }}

<div class="form d-flex justify-content-center form-group">
    {{ form_start(registrationForm) }}
    <div class=" registrationEmail form-group">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="registrationPassword form-group">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success w-100">S'enregistrer</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
