

{{form_start(productForm)}}
    {{form_row(productForm.name)}}
    {{form_row(productForm.price)}}
    {{form_row(productForm.categories_id)}}
    {{form_row(productForm.allergens)}}
    <button type="submit" class="btn btn-info" >Valider</button>
{{form_end(productForm)}}

