{% extends 'base.html.twig' %}

{% block title %} Choisissez votre Burger {% endblock %}

{% block body %}
{% if is_granted('ROLE_PRODUCT_ADMIN') %}
<div class="fw-bold" >
    <a href="{{ path('admin_interface_index')}}" class="btn btn-danger">Interface Administrateur</a>
</div>
{% endif %}
<h1 class="registrationTitle">Quelle type de personne êtes-vous ?</h1>
{% include "commons/_basket.html.twig" %}
<div class="burgerCategory">
    <h2 class="burgerTitle text-light">{{categories.name}}</h2>
    <div class="subBurgerCategory">
    {% for subcategory in subcategories %}
        <ul>
            <li><a href="{{path('subcategory', {id:subcategory.id})}}" class="links">{{subcategory.name}}</a></li>
        </ul>
    {% endfor %}
    </div>
    <a href="{{path('drinks')}}" class="btn btn-warning w-25 m-2">Choisir sa boisson</a>
    <a href="{{path('desserts')}}" class="btn btn-info w-25 m-2">Choisir son dessert</a>
</div>
{% endblock %}